extends layout

block content
  .container
    h1 Find a Workout Buddy
    .users-grid
      each buddy in buddies
        .card
          .card-body
            if buddy.profile_picture_url
              img.card-avatar(src=buddy.profile_picture_url alt=buddy.first_name)
            h3= buddy.first_name + ' ' + buddy.last_name
            span.badge= buddy.fitness_level.toUpperCase()
            p= buddy.bio
            if buddy.goals
              p.workout-meta Goals: #{buddy.goals}
            if buddy.availability
              p.workout-meta Available: #{buddy.availability}
            a.btn-small(href='/matches/' + buddy.id) Find Matches