extends layout

block content
  .container
    h1 Find a Workout Buddy
    .users-grid
      each buddy in buddies
        .card
          .card-body
            img.card-avatar(src='https://ui-avatars.com/api/?name=' + buddy.first_name + '+' + buddy.last_name + '&background=2c5f8a&color=fff&size=128' alt=buddy.first_name)
            h3= buddy.first_name + ' ' + buddy.last_name
            span.badge= buddy.fitness_level.toUpperCase()
            p= buddy.bio
            if buddy.goals
              - var goalsList = buddy.goals.replace(/[\[\]"]/g, '').split(',').map(function(g){ return g.trim().replace(/_/g, ' ') }).join(', ')
              p.workout-meta Goals: #{goalsList}
            if buddy.availability
              p.workout-meta Available: #{buddy.availability}
            a.btn-small(href='/matches/' + buddy.id) Find Matches